<br/>
<br/>
<br/>
<center>
  <img src="<%= @item.image %>" alt="toothbrush" width="300px" height="300px" >
  <div class="caption">
    <h3><%= @item.name %></h3>
    <h4>$<%= @item.price %></h4>
    <p><%= @item.description %></p>
    <div class="btn btn-success"> BUY </div>
  </div>
  <br/>
  <a class="btn btn-primary" href="/items">Click here to go back to the main page</a>
</center>
